
{% extends 'base.html' %}
{% load static %}
{% block metadescription %}


{% endblock %}
{% block content %}
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>











<div class="formbold-main-wrapper">

  <div class="formbold-form-wrapper">
      <h6>
         Do not give them a candle to light the way, teach them how to make fire instead. That is the meaning of enlightenment.
        </h6>

    <img src="https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_1280.jpg">

    <form method="POST">
      {% csrf_token %}
      <div class="formbold-form-title">

        <h4 class="">Book here</h4>

      </div>

      <div class="formbold-input-flex">
        <div>
          <label  class="formbold-form-label">
             {{ form.name.label_tag }}
          </label>
          {{ form.name }}
        </div>
        <div>
          <label class="formbold-form-label"> {{ form.dob.label_tag }}
          </label>

         {{ form.dob}}


        </div>
      </div>

      <div class="formbold-input-flex">
        <div>
          <label  class="formbold-form-label"> {{ form.age.label_tag }}</label>
           {{ form.age }}
        </div>
        <div>
          <label  class="formbold-form-label"> {{ form.gender.label_tag }}</label>

          {{ form.gender }}

        </div>
      </div>
        <div class="formbold-input-flex">
        <div>
          <label class="formbold-form-label">{{ form.mail_id.label_tag }}</label>
        {{ form.mail_id }}
        </div>
        <div>
          <label  class="formbold-form-label"> {{ form.phone_number.label_tag }}</label>
          {{ form.phone_number }}
        </div>
      </div>

      <div class="formbold-mb-3">
        <label class="formbold-form-label">
          {{ form.address.label_tag }}
        </label>
       {{ form.address }}
      </div>


      <div class="formbold-input-flex">
        <div>
          <label class="formbold-form-label"> {{ form.department.label_tag }} </label>
       {{ form.department }}

        </div>
            <div>
          <label class="formbold-form-label"> {{ form.courses.label_tag }} </label>
       {{ form.courses }}

        </div>
      </div>
         <div class="formbold-input-flex">

      </div>

      <div class="formbold-input-flex">
        <div>
          <label class="formbold-form-label">  {{ form.purpose.label_tag }} </label>
        {{ form.purpose }}
        </div>
        <div>
          <label  class="formbold-form-label"> {{ form.materials_provided.label_tag }} </label>

            {% for checkbox in form.materials_provided %}
        <label>{{ checkbox }} {{ checkbox.choice_label }}</label>
    {% endfor %}
        </div>
      </div>


<div>
      <button class="formbold-btn" type="submit">Confirm</button>

    </div>
<div>

</div>

    </form>
      <br>
    <div>
        {% for msg in messages %}
     <center><h5>{{msg}}</h5></center>
   {% endfor %}
    </div>
  </div>
</div>

<!--<div class="two">-->


<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <label  class="formbold-form-label">-->
<!--             {{ form.name.label_tag }}-->
<!--          </label>-->
<!--          {{ form.name }}-->
<!--    {{form.as_p}}-->
<!--    <button type="submit">submit</button>-->


<!--</form>-->
<!--    </div>-->
<!--{% for msg in messages %}-->
<!--  {{msg}}-->
<!--{% endfor %}-->


{% endblock %}