{% extends 'base.html' %}
{% load static %}
{% block metadescription %}


{% endblock %}
{% block content %}


    <header id="home">
    <div class="container">
       <div class="row text-white" >
          <div class="col-12" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-quad">
            <div class="home-text">
                <h5 class=" text-white">TEXAS HIGHER EDUCATIONAL</h5>
                <h1 class="text-white fw-bold display-1 ">INSTITUTION<br> <span>FOR YOUR BETTER FUTURE</span></h1>
                <a href="credantials/log" class="btn btn-barnd white">Login</a>
            </div>
          </div>
       </div>
    </div>
</header>


{% endblock %}